.container{

 margin-top: 1.5rem;
 padding: 1.5rem 1rem;
 background: var(--gray-500);
 border: 1px solid var(--gray-400);
 border-radius: 8px;
 display: flex;
 align-items: flex-start;
 

}
.containerCheck{
    margin-top: 1.5rem;
    padding: 1.5rem 1rem;
    background: var(--gray-500);
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
}

.display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.strong {
    /* width: 39rem; */

    padding: 0 1rem ;
    margin: 0 1rem;
    color: var(--gray-100);
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    
}
.strongCheck{
    /* width: 39rem; */
    margin: 0 1rem;
    padding: 0 1rem ;
    color: var(--gray-300);
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    text-decoration: line-through;
}

.checkContainer{
  
    margin-right: 1rem;
    margin-top: 3px;
}

.checkContainer > input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox{
    
    background: var(--gray-500);
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid var(--blue);
    border-radius: 10px;
    position: absolute;
    cursor: pointer;

}

.checkContainer > input:checked ~ .checkbox{
    background: var(--purple);
    border: none;
}

.checkContainer .checkbox::after{
    left: 7.5px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: 1px solid var(--gray-100);
    border-width: 0 1.8px 1.8px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.checkbox::after{
    content: "";
    position: absolute;
    display: none;
}

.checkContainer > input:checked ~ .checkbox::after{
    display: block;
}

.checkContainer > input:checked ~ .strong{
    text-decoration: line-through;
    background: var(--purple);
}

.trash{
    display: flex;
    align-items: center;
    padding: 0.2rem;
    cursor: pointer;
}
.trash:hover{
    background: var(--gray-400);
    border-radius: 3px;
    color: var(--danger)
}

