.globalContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;


}

.addTask {
    display: flex;
    justify-content: center;
    margin-top: calc(0px - 1.5rem - 6px);
    width: 46rem;

}


.addTask>input {
    width: 100%;
    height: 3.625rem;
    color: var(--gray-300);
    background: var(--gray-500);
    border: var(--gray-700) solid 1px;
    border-radius: 8px;
    padding-left: 1rem;
    resize: none;

}



.addTask>input:focus {
    outline: 1px solid var(--purple-dark);
}

.addTask>button {
    background: var(--blue-dark);
    border: none;
    margin-left: 0.5rem;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    font-weight: bold;
    line-height: 1.4;
    align-items: center;
    color: var(--gray-100);
    cursor: pointer;
}

.addTask>button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.addTask>button:hover {
    background: var(--blue);
    transition: background-color 0.1s;
}

.addTask>button:focus {
    outline: 1px solid var(--blue)
}

.plusCircle {
    margin-left: 0.5rem;
}

.sectionTasks {
    margin-top: 4.0625rem;
    width: 46rem;
    /* background: #ffff; */
    display: flex;
    justify-content: space-between;

}

.taskTitle {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 16.94px;
    color: var(--blue)
}

.taskTitle>span {
    color: var(--gray-200);
    background: var(--gray-400);
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    border-radius: 40%;
}

.taskConcluded {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 16.94px;
    color: var(--purple)
}

.taskConcluded>span {
    color: var(--gray-200);
    background: var(--gray-400);
    margin-left: 0.5rem;
    padding: 0.125rem 0.5rem;
    border-radius: 40%;
}

.clipboard {

    width: 46rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.clipboardTrueTask {
    display: none;
}

.clipboard>img {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.clipboardStrong02 {
    font-weight: 200;
}

.tasksList {
    width: 46rem;
}


@media (max-width: 1025px) {
    .globalContainer {
        margin: 0 2rem;
    }
    .addTask {
     
        width: 100%;
    
    }

    .clipboard {

        width: 100%;
    }

    .tasksList {
        width: 100%;
    }

    .sectionTasks {
        width: 100%
    }
    .tasksList {

        width: 100%
    }
}